# gitignore file for the dotfiles config

# macOS system files
.DS_Store

# vim tempfiles
*.swp
*.swo
*~

# Unnecessary superfile files
**/lastCheckVersion
**/lastdir
**/toggleDotFile
**/toggleFooter
**/themeFileVersion
**/firstUseCheck
**/pinned.json

# Herdr
session.json
.plugins.lock
*.log
*.sock

# Compiled binaries from sketchybar
sketchybar/.config/sketchybar/helpers*

# Logs
*.log

# Backup files
*.bak
*.backup

# Any SSH keys
.ssh/

# theme holder file
.theme

# chezmoi runtime
home/dot_config/herdr/*.sock
